#textdomain wesnoth-Era_of_Four_Moons

[era]
    id=era_EFM_a1
    name= _ "Era of Four Moons"
    require_era=yes

    {RANDOM_SIDE}
    {EFM_SIDE EFM Highlanders}
    {EFM_SIDE EFM Imperialists}
    {EFM_SIDE EFM SeaStates}
    {EFM_SIDE EFM Darklanders}
[/era]
[era]
    id=era_EFM_a1_Extended
    name= _ "Era of Four Moons Extended"
    require_era=yes

    {RANDOM_SIDE}
    {EFM_SIDE EFM Highlanders}
    {EFM_SIDE EFM Imperialists}
    {EFM_SIDE EFM SeaStates}
    {EFM_SIDE EFM Darklanders}
    {EFM_SIDE EFM Dalefolk}
    {EFM_SIDE EFM Pygmies}
    {EFM_SIDE EFM Whites}
    {EFM_SIDE EFM Freemen}
[/era]

[era]
    id=era_CFM_a1
    name= _ "Champions of Four Moons"
    require_era=yes

    {RANDOM_SIDE}
    {EFM_SIDE CFM Highlanders}
    {EFM_SIDE CFM Imperialists}
    {EFM_SIDE CFM SeaStates}
    {EFM_SIDE CFM Darklanders}
    {EFM_SIDE CFM Dalefolk}
    {EFM_SIDE CFM Pygmies}
    {EFM_SIDE CFM Whites}
    {EFM_SIDE CFM Freemen}
[/era]

[era]
    id=era_EFM_D_a1
    name= _ "EoFM + default"
    require_era=yes

    {RANDOM_SIDE}
    {EFM_SIDE EFM Highlanders}
    {EFM_SIDE EFM Imperialists}
    {EFM_SIDE EFM SeaStates}
    {EFM_SIDE EFM Darklanders}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
[/era]


